<% title "Therapist Finder" %>
<div id="therapists" style="margin-top:40px; height:100%; width:100%;">
  <div class="row">
    <div class="large-9 push-3 columns">
        <% if !current_user %>
          <small class='sign-in-index'>Sign in to save Therapists to your list.</small>
        <% else %>
          <small style="float:right"><%= link_to "My Saved Therapists", user_path %></small>
        <% end %>
      <h2 style='margin-top:20px'>Open Therapist Directory<small> Therapist Finder</small></h2><hr>
      <ul class="filter" style="margin-bottom:0px">
        <p style="display:inline-block">State:</p>
        <form action="" style="display:inline-block">
          <select name="filter-state" id="filter-state">
            <% @states.each do |state| %>
              <option value="<%=state%>"><%=state%></option>
            <% end %>
          </select>
        </form>
      </ul>
        <ul class="list" style="padding-top:0px"></ul>
    </div>
    <div class="large-3 pull-10 columns">
      <ul class="side-nav">
        <div class='donate'>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="YGJNNCN8FP668">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      <h1><%= image_tag "otdlogo.png", class: 'otdlogo'%></h1><hr>
        <li><input class="search" placeholder="Search All Fields" style="width:100%" /></li><hr>
        <li><span class="sort" data-sort="name" style="display:inline-block">Sort by Name</span></li>
        <li><span class="sort" data-sort="city" style="display:inline-block">Sort by City</span></li><hr>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/therapist_listing.js"></script>

<script>

  var initialState = <%= @initial_state %>
  var therapists = <%= @therapists %>
  var firstTherapists   = <%= @therapists %>
  var currentTherapists = firstTherapists;
  var state = $('#filter-state').val();

  _.each(therapists, render);

  setInitialState(initialState);

  addTherapist();

</script>
