<h2 id='new-therapist'>List Your Practice</h2>

<div class="row">
  <div class="large-4 large-centered columns">
    <div id="user-welcome">
      <%= form_for @therapist, :html => { :multipart => true } do |f| %>
        <%= f.label 'First Name' %>
        <%= f.text_field :first_name %>
        <%= f.label 'Last Name' %>
        <%= f.text_field :last_name %>
        <%= f.label 'Email' %>
        <%= f.text_field :email %>
        <%= f.label 'Certifications' %>
        <%= f.text_field :certifications %>
        <%= f.label 'Sliding Scale?', :style => 'display: inline-block' %>
        <%= f.check_box :sliding_scale %><br/>
        <%= f.label "Average Session Cost"%>(ex. $50 - $100)
        <%= f.text_field :cost %>
        <%= f.label 'Practice Name' %>
        <%= f.text_field :practice_name %>
        <%= f.label 'Profile Picture' %>(max size: 400x400, 2 MB)
        <%= f.file_field :picture %>
        <h2>Location</h2>
        <%= f.fields_for :location do |l_f| %>
          <%= l_f.label 'Street' %>
          <%= l_f.text_field :street_1 %>
          <%= l_f.label 'Street 2' %>
          <%= l_f.text_field :street_2 %>
          <%= l_f.label 'City' %>
          <%= l_f.text_field :city %>
          <%= l_f.label 'State' %>
          <%= l_f.select :state, options_for_select(us_states) %>
          <%= l_f.label 'Zipcode' %>
          <%= l_f.text_field :zipcode %>
          <%= l_f.label 'Phone Number' %>
          <%= l_f.text_field :phone %>
        <% end %>
        <%= f.submit value: 'List Practice', class: "button round list-practice"%>
      <% end %>
    </div>
  </div>
</div>


