<div id="articles" style="margin-top:45px; height:100%; width:100%;">
  <div class='ajax_flash_messages'>
    <% flash.each do |type, message| %>
    <div class="flash" id="<%= type %>">
      <%= message %>
    </div>
  <% end %>
  </div>
  <div class="row">
    <div class="large-10 push-2 columns" style="margin-top:20px">
      <h3>Open Therapist Directory<small> Psychology Articles</small></h3>
      <ul class="filter" style="margin-bottom:0px">
 <!--        <li class="btn" id="filter-none">Show all</li> -->
      </ul>
        <ul class="list" style="padding-top:0px">
          <% @feeds.each do |feed| %>
            <div class='accordion'>
              <h3><%= feed[1].title %></h3>
              <div>
                <% feed[1].entries[0..9].each do |entry| %>
                  <ul>
                  <li><%= link_to entry.title.html_safe.truncate(70), entry.url %> <%= link_to "Share this", root_path, style: 'float:right' %></li>
                </ul>
                <% end %>
              </div>
          <% end %>
        </ul>
        <br/><p>Have a suggestion for a journal or RSS feed to include here? <%=link_to "Contact Us", contact_path %></p>
    </div>
    <div class="large-2 pull-10 columns">
      <ul class="side-nav">
      <h1><%= image_tag "otdlogo.png"%></h1>
<!--         <li><input class="search" placeholder="Search All Fields" /></li>
        <li><span class="sort" data-sort="name" style="display:inline-block">Sort by Name</span></li>
        <li><span class="sort" data-sort="city" style="display:inline-block">Sort by City</span></li>
        <li><input type="checkbox" class="check" data-check="spanish"/> Español Habla</input></li>
        <li><input type="checkbox" class="check" data-check="medicaid"/> Medicaid</input></li>
        <li><input type="checkbox" class="check" data-check="medicare"/> Medicare</input></li>
        <li><input type="checkbox" class="check" data-check="substance"/> Substance Abuse</input></li>
        <li><input type="checkbox" class="check" data-check="veterans"/> Veterans</input></li> -->

      </ul>
    </div>
  </div>
</div>

<script>
  $( ".accordion" ).accordion({
    header: "h3",
    collapsible: true,
    active: false,
    heightStyle: 'content'
  });
</script>

<script type="text/javascript" src="/assets/listing.js"></script>
