<% title "Articles" %>
<meta name="Description" content="Therapy Articles, find interesting and up to date articles on the topics that are important to you.">

<div class="row" style="margin-top:20px; height:100%">
  <div class="col-xs-2 hidden-xs">
    <%= image_tag "otdlogo.png"%>
  </div>
  <div class="col-xs-10" style="margin-top:20px">
    <h3>Open Therapist Directory<small> Psychology Articles</small></h3>
      <ul class="list" style="padding-top:0px">
        <% @feeds.each do |feed| %>
          <div class='accordion'>
            <h3><%= feed[1].title %></h3>
            <div>
              <% feed[1].entries[0..9].each do |entry| %>
                <ul class='list-group' style='margin:5px'>
                  <li class='list-group-item'><%= link_to entry.title.html_safe.truncate(70), entry.url %> <%= link_to "Share this", articles_show_path(:title => entry.title.html_safe, :url => entry.url), style: 'float:right', class: 'share-link' %></li>
                </ul>
              <% end %>
            </div>
        <% end %>
      </ul>
      <br/><p>Have a suggestion for a journal or RSS feed to include here? <%=link_to "Contact Us", contact_path %></p>
  </div>
</div>

<script>
  $( ".accordion" ).accordion({
    header: "h3",
    collapsible: true,
    active: false,
    heightStyle: 'content'
  });
</script>

<script type="text/javascript" src="/assets/listing.js"></script>
