<% title "Share Article" %>
<div class="container">
  <div class="row text-center">
  	<div class="col-xs-12">
      <h2 class="title">Share Article: <%= @title %></h2>
      <hr/>
    </div>
  </div>
  <div class="row" style="height:70%">
    <div class="col-xs-6 col-xs-offset-3">
      <%= bootstrap_form_tag url: '/articles/share' do |f| %>
        <%= f.text_field :name, label: "Friend's Name" %>
        <%= f.text_field :email, label: "Friend's Email" %>
        <%= hidden_field_tag 'article_title', @title %>
        <%= hidden_field_tag 'article_url', @link %>
        <%= f.submit "Send Article" %>
      <% end %>
    </div>
  </div>
</div>
<script>
$("#share-form").validate({
	rules: {
		name: "required",
		email: {
			required: true,
			email: true
		},
	},
});

</script>
