<div class='flashes'><%= flash[:notice] %></div>

<div class="fixed">
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/">Open Therapist Directory</a></h1>
	    </li>
	  </ul>
	  <section class="top-bar-section">
	    <ul class="right">
	    	<% if user_signed_in? %>
					<li><%= link_to "Signed in as #{current_user.name}", user_path %></li>
					<li class="divider"></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :id => 'sign-out' %></li>
					<li class="divider"></li>
					<% if current_user.role == 'admin' %>
						<li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
					<% end %>
				<% else %>
				<li class="divider"></li>
	      <li class="has-dropdown not-click">
	        <a href="#">Sign Up/Login</a>
	        <ul class="dropdown">
	          <li><%= link_to "Sign Up", new_user_registration_path%></li>
	          <li><%= link_to "Sign In", new_user_session_path %></li>
	          <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), :class => 'twitter-auth'%></li>
	        </ul>
	      </li>
	      <% end %>
	    </ul>
	    <ul class="left">
	    	<li class="divider"></li>
	      <li><%= link_to "Find a Therapist", therapists_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Mental Health Resources", facilities_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Articles", articles_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to "Contact", contact_path %></li>
	    </ul>
	  </section>
	</nav>
  <div class='ajax_flash_messages'>
    <% flash.each do |type, message| %>
      <div class="flash" id="<%= type %>">
        <%= message %>
      </div>
    <% end %>
  </div>
</div>

