<% title "User" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2><%= @user.name %></h2><hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class='accordion'>
        <h3>My Saved Facilities</h3>
          <div>
            <% @saved_facilities.each do |facility| %>
              <p id="facility_<%= facility.id %>"><%= link_to facility.name1, facility_path(facility.id) %>
                <%= form_tag(remove_facility_path(facility.id), remote: true) do %>
                <%= submit_tag 'remove', class: "button tiny", id: "remove_facility_#{facility.id}" %>
                <% end %>
              </p><br/>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class='accordion'>
        <h3>My Saved Therapists</h3>
          <div>
            <% @saved_therapists.each do |therapist| %>
              <p id="therapist_<%= therapist.id %>"><%= link_to therapist.full_name, therapist_path(therapist.id) %>
                <%= form_tag(remove_therapist_path(therapist.id), remote: true) do %>
                <%= submit_tag 'remove', class: "button tiny", id: "remove_therapist_#{therapist.id}" %>
                <% end %>
              </p><br/>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
	$( ".accordion" ).accordion({
    header: "h3",
    collapsible: true,
    active: false
  });
</script>
