<div id="facilities" style="margin-top:45px; height:100%; width:100%;">
  <div class="row">
    <div class="large-9 push-4 columns" style="margin-top:20px">
        <% if !current_user %>
          <small style="float:right">Sign in to save facilities to your profile.</small>
        <% else %>
          <small style="float:right"><%= link_to "My Saved Facilities", user_path %></small>
        <% end %>
      <h3>Open Therapist Directory<small> Mental Health Resource Finder</small></h3>
      <ul class="filter" style="margin-bottom:0px">
        <li class="btn" id="filter-none">Show all</li>
        <p style="display:inline-block">State:</p>
        <form action="" style="display:inline-block">
          <select name="filter-state" id="filter-state">
            <% @states.each do |state| %>
              <option value="<%=state%>"><%=state%></option>
            <% end %>
          </select>
        </form>
        <small style="float:right">Click on the plus icon to add the location to the map.</small>
      </ul>
        <ul class="list" style="padding-top:0px"></ul>
    </div>
    <div class="large-3 pull-10 columns">
      <ul class="side-nav">
      <h1><%= image_tag "otdlogo.png"%></h1>
        <li><input class="search" placeholder="Search All Fields" /></li>
        <li><span class="sort" data-sort="name" style="display:inline-block">Sort by Name</span></li>
        <li><span class="sort" data-sort="city" style="display:inline-block">Sort by City</span></li>
        <li><input type="checkbox" class="check" data-check="spanish"/> Español Habla</input></li>
        <li><input type="checkbox" class="check" data-check="medicaid"/> Medicaid</input></li>
        <li><input type="checkbox" class="check" data-check="medicare"/> Medicare</input></li>
        <li><input type="checkbox" class="check" data-check="substance"/> Substance Abuse</input></li>
        <span id="return-check"></span>
        <li><input type="checkbox" class="check" data-check="veterans"/> Veterans</input></li>
        <p id="distance"></p>
        <div id="map-canvas" style="width:400px; height:400px;"></div>
      </ul>
    </div>
  </div>
</div>

<script>
  var initialState = <%= @initial_state %>
  var facilities = <%= @facilities %>
  var firstFacilities   = <%= @first_facilities %>
  var currentFacilities = firstFacilities;
  var state = $('#filter-state').val();

  _.each(firstFacilities, render);

  setInitialState(initialState);

  var geocoder = new google.maps.Geocoder();

  var initialLocation = navigator.geolocation.getCurrentPosition(function (position) {
       initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
       map.setCenter(initialLocation);

       var marker = new google.maps.Marker({
          position: initialLocation,
          title: 'Your Location',
          draggable: false,
          map: map
      });

      map.setCenter(marker.getPosition());
  });

  var mapOptions = {
    center: initialLocation,
    zoom: 12
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  google.maps.event.addDomListener(window, 'load');

  function setDistance(resultLocation) {
    var distance = google.maps.geometry.spherical.computeDistanceBetween (initialLocation, resultLocation);
    var toMiles = 0.000621371;
    var distanceInMiles = Math.round(distance * toMiles);
    $('#distance').empty();
    $('#distance').append("Distance to facility: " + distanceInMiles + " Miles");
  }

  function addMarker(address) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        var resultLocation = results[0].geometry.location;

        setDistance(resultLocation);

        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>

<script type="text/javascript" src="/assets/listing.js"></script>
<script type="text/javascript" src="/assets/maps.js"></script>
