<div id="facilities" style="margin-top:45px">
  <div class="row">
    <div class="large-9 push-3 columns" style="margin-top:20px">
      <h3>Open Therapist Directory<small> Mental Health Resource Finder</small></h3>
      <ul class="filter" style="margin-bottom:0px">
        <li class="btn" id="filter-none">Show all</li>
        <p style="display:inline-block">State:</p>
        <form action="" style="display:inline-block">
          <select name="filter-state" id="filter-state">
            <option value=""> </option>
            <% @states.each do |state| %>
              <option value="<%=state%>"><%=state%></option>
            <% end %>
          </select>
        </form>
      </ul>
      <ul class="list" style="padding-top:0px">
      </ul>
      <ul class="pagination"></ul>
    </div>
    <div class="large-3 pull-9 columns">
      <ul class="side-nav">
      <h1><%= image_tag "otdlogo.png"%></h1>
        <li><input class="search" placeholder="Search All Fields" /></li>
        <li><span class="sort" data-sort="name1">Sort by Name</span></li>
        <li><span class="sort" data-sort="location_city">Sort by City</span></li>
        <li><a href="#">Section 4</a></li>
        <li><a href="#">Section 5</a></li>
        <li><a href="#">Section 6</a></li>
      </ul>
    </div>
  </div>
</div>
<script>

  var facilities = <%= @facilities %>

  var options = {
    valueNames: [ 'name1', 'location_state', 'location_city' ],
    item: '<li><h3 class="name1"></h3><a href="http://www.google.com"><i class="fa fa-plus-circle" style="float:right"></i></a><p class="location_city" style="display:inline-block"></p>, <p class="location_state" style="display:inline-block"></p><br/><%= link_to "More Information", facility_path("id") %></li>',
    page: 10,
    plugins: [
      ListPagination({})
    ]
  };

  var listObj = new List('facilities', options, facilities);

  $('#filter-state').on('change', function() {
  	var state = $(this).val();
  	listObj.filter(function(obj) {
  		return obj.values().location_state === state;
  	});
  });

	$('#filter-none').click(function() {
	  listObj.filter();
    accordion_func();
	  return false;
	});

	// $('#UseUsername').change(function(){
	// 	listObj.filter(function(obj) {
	// 		return $(this).is(':checked')
	// 	})
	// });
</script>
