<% title "Facility Information" %>
<div class="container">
  <div class="row">
  	 <div class="col-xs-12 text-center" style="margin-top:20px">
  		<h2><%= @facility.name1 %></h2>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
  	  <p><b>Website:</b> <%= @facility.website? %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  		<p><b>Phone:</b> <%= @facility.phone %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  		<p><b>Intake:</b> <%= @facility.intake %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  		<p><b>Hotline:</b> <%= @facility.hotline %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  		<p><b>Address:</b> <%= @facility.address %></p>
    </div>
  </div>
  	<p><b>Services:</b><ul> <%= @facility.services %></ul></p>
  	<p>	<%= link_to "Share this", share_facility_path(:id => @facility.id), class: 'share-link'%></p>
</div>
