<div class="facility-container">
	<div class="large-9 push-3 columns">
		<h2><%= @facility.name1 %></h2><hr/>
		<p><b>Website:</b> <%= @facility.website %></p>
		<p><b>Phone:</b> <%= @facility.phone %></p>
		<p><b>Intake:</b> <%= @facility.intake1 %></p>
		<p><b>Hotline:</b> <%= @facility.hotline1 %></p>
		<p><b>Services:</b><ul> <%= @facility.services %></ul></p>
	</div>
</div>
