<% title "Contact" %>

<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 text-center">
      <h3>Get in Touch!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <p>Your feedback is appreciated.</p>
    </div>
  </div>
  <div class="row">
    <%= bootstrap_form_tag url: '/contact' do |f| %>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= f.text_area :content, label: "Feedback" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <%= submit_tag "Send" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      <h4>Developed By</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      <a href="https://www.linkedin.com/profile/view?id=89002667"><%= image_tag("andersen_ian.jpg")%><br>Ian Andersen, MA</a>
    </div>
  </div>
</div>

<script>
  $("#contact-form").validate({
    rules: {
      name: "required",
      email: {
        required: true,
        email: true
      },
    },
  });
</script>
