<% title "Contact" %>

<div class="large-9 columns" style="margin-top:45px">

  <h3 style='text-align:center'>Get in Touch!</h3>
  <p style='text-align:center'>Your feedback is appreciated.</p>

  <div class="section-container tabs">
    <section class="section">
      <h5 class="title">Contact Me</h5>
      <div class="content" data-slug="panel1">
        <%= form_for contact_us_path, method: :post, multipart: true, id: 'contact-form' do %>
          <div class="row collapse">
            <div class="large-2 columns">
              <%= label_tag "Your Name" %>
            </div>
            <div class="large-10 columns">
              <%= text_field_tag :name %>
            </div>
          </div>
          <div class="row collapse">
            <div class="large-2 columns">
              <%= label_tag "Your Email" %>
            </div>
            <div class="large-10 columns">
              <%= text_field_tag :email %>
            </div>
          </div>
          <%= label_tag "What's Up?" %>
          <%= text_area_tag :content %>
          <%= submit_tag "Send" %>
        <% end %>
      </div>
    </section>
    <section class="section">
      <h5 class="title">Developed By</h5>
      <div class="content" data-slug="panel2">
        <ul class="large-block-grid-5">
          <li><a href="https://www.linkedin.com/profile/view?id=89002667"><%= image_tag("andersen_ian.jpg")%>Ian Andersen, MA</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>

<script>
$("#contact-form").validate({
  rules: {
    name: "required",
    email: {
      required: true,
      email: true
    },
  },
});

</script>
