<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> Has Shared an Article with You from OpenTherapistDirectory.com</h1>
    <p>
      Dear <%= @name %>, <br>
      <%= @user.name %> Has Shared the Article: <%= link_to @title, @url %><br/>

      Thanks!<br/>

      <%= link_to "Open Therapist Directory", 'http://www.opentherapistdirectory.com' %>
    </p>
  </body>
</html>
