<!DOCTYPE html>
<html>
	<head>
	  <title>Open Therapist Directory</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	  <%= csrf_meta_tags %>

	 	<script src="/assets/jquery.stellar.min.js" type="text/javascript"></script>
	 	<script src="/assets/foundation.min.js" type="text/javascript"></script>
	 	<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&key=AIzaSyCB5IfaUUgXXtsuZNdCzF-H_MVsBLmw64M"></script>

	 	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
	  <div id="main-header">
			<%= render "partials/header" %>
		</div>

		<%= yield %>
		<%= render 'partials/footer' %>
	</body>
</html>
